
<ion-item class="custom-input" lines="nones">
  <ion-icon color="primary" *ngIf="icon" slot="start" [name]="icon"></ion-icon>


  <ion-input 
  [type]="type"
  [autocomplete]="autocomplete" 
  [label]="label"
  [formControl]="control"
  label-placement="floating"
  ></ion-input>

  <ion-button *ngIf="isPassword" (click)="showOrHidePassword()" slot="end" fill="clear" shape="round">
    <ion-icon slot="icon-only" [name]="hide ? 'eye-outline' : 'eye-off-outline'" ></ion-icon>
  </ion-button>
</ion-item>
