<app-header backButton="/auth"  title="Recuperar Cuenta"></app-header>

<ion-content>

  <div class="d-flex-center">

    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">

    <app-logo></app-logo>  

    <p class="ion-text-center">Te enviaremos un email para que puedas recuperar tu contraseña</p>
    <!--======= Email ========-->
      <app-custom-input
      autocomplete="email" 
      icon="mail-outline"
      [control]="form.controls.email"
      type="email"
      label="Correo"
      ></app-custom-input>

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
        <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo válido</div>
      </div>
  

      <ion-button  expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
        Recuperar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

   
  
  
    </form>

  </div>

  
  
  

</ion-content>
