.boton-abajo {
    position: fixed;
    bottom: 1%;
    left: 0;
    right: 0;
    width: 100%;
  }

.container {
  width: 100%;
  height: 90%;
}

capacitor-google-map {
  display: inline-block;
  width: 100%;
  height: 100%;
}
  
  
  
  
  