<app-header title="Inicio"></app-header>

<!-- ======Nuevo Producto ========= -->
<ion-content>

  <!-- ======== Productos ========= -->
  <ion-list *ngIf="!loading">
    <ion-item-sliding class="product-item" *ngFor="let p of products">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="p.image" />
        </ion-avatar>
        <ion-label>
          <div class="name">{{p.name}}</div>
          <div class="data">
            <strong>Precio: $</strong>{{p.price}} <br>
            <strong>Unidades : </strong>{{p.soldUnits}}
          </div>
        </ion-label>
      </ion-item>

      <!-- ===== Opciones ====== -->
      <ion-item-options >
        <!-- Editar -->
        <ion-item-option (click)="addUpdateProduct(p)">
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option>
       
        <!-- Eliminar -->
        <ion-item-option (click)="confirmDeleteProducts(p)" color="danger" >
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

     
  
      
    </ion-item-sliding>
  </ion-list>


  <!-- ======Loading ========= -->
  <ion-list *ngIf="loading">
    
      <ion-item class="product-item" *ngFor="let p of [1,1,1,1,1,1]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <div> <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></div>
          <div> <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></div>
        </ion-label>
      </ion-item>

      
  </ion-list>

  <!-- =========Sin productos disponibles =========== -->
  <div *ngIf="!loading && !products.length" class="empty">
    <ion-icon name="shield-outline"></ion-icon>
    <h3>No hay productos disponibles</h3>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdateProduct()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
