<ion-tabs>
  <ion-tab-bar slot="bottom,top">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="geolocation">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Ubicación</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="scanner">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Scannear</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>